:root {
    --beige-100: #f5f5f5;
    --charcol: #333;
    --color-primary: #f5f5f5;
    --color-secondary: #333;
    --color-tertiary: #f5f5f5;
    --color-quaternary: #333;
    --color-quinary: #f5f5f5;
    --color-senary: #333;
    --color-septenary: #f5f5f5;
    --color-octonary: #333;
    --color-nonary: #f5f5f5;
    --color-denary: #333;
    --color-elevenary: #f5f5f5;
    --color-twelveary: #333;
    --color-thirteenary: #f5f5f5;
    --color-fourteenary: #333;
    --color-fifteenary: #f5f5f5;
    --color-sixteenary: #333;
    --color-seventeenary: #f5f5f5;
    --color-eighteenary: #333;
    --color-nineteenary: #f5f5f5;
    --color-twentyary: #333;
    --color-twentyoneary: #f5f5f5;
    --color-twentytwoary: #333;
    --color-twentythreeary: #f5f5f5;
    --color-twentyfourary: #333;
    --color-twentyfiveary: #f5f5f5;
    --color-twentysixary: #333;
    --color-twentysevenary: #f5f5f5;
    --color-twentyeightary: #333;
    --color-twentynineary: #f5f5f5;
    --color-thirtyary: #333;
    --color-thirtyoneary: #f5f5f5;
    --color-thirtytwoary: #333;
    --color-thirtythreeary: #f5f5f5;
    --color-thirtyfourary: #333;
    --color-thirtyfiveary: #f5f5f5;
    --color-thirtysixary: #333;
    --color-thirtysevenary: #f5f5f5;
    --color-thirtyeightary: #333;
}